@charset "utf-8";
/* CSS Document */
/* Hover: icon lights up */
/* Focus:  */ 

html {
	background-color: #8B9DC3;
	color: #3b5998;
	font-family: Arial, Helvetica, sans-serif;
}

#selection {
	background-color: #3B5998;
	padding: 2em;
}

.fas {
	font-size: 2em;
	color: #dfe3ee;
}

button {
	background-color: #3B5998;
	padding: 1.5em;
	border: none;
	margin: 2em;
	border-radius: 50%;
	
	box-shadow:4px 4px 10px RGBA(0, 0, 0, 0.3), 
				-4px -4px 5px rgba(255, 255, 255, 0.15);
					
}

button:focus {
	outline: none;
	color: #FC0FC0;
	box-shadow:4px 4px 10px RGBA(0, 0, 0, 0.3), 
				-4px -4px 5px rgba(255, 255, 255, 0.15),
				4px 4px 10px RGBA(0, 0, 0, 0.3) inset, 
				-4px -4px 5px rgba(255, 255, 255, 0.15) inset;
				
}

button:hover > .fas, button:focus > .fas {
	color: #FC0FC0;
}
