@charset "utf-8";

#loading {
    background:radial-gradient(#FF0000, #1947FF, #CCF000);
    width:500px;
    height:500px;
	border-radius: 50%;
	border: 100px solid;
	border-color: #ffffff;;
	
	position: fixed;
	top: 50px;
	left: 50px;
	
	animation-name: hue-rotate;
    animation: hue 5s linear infinite;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
#center {
		background-color: #ffffff;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	
	position: absolute;
	top: 350px;
	left: 350px;
}

.spin1, .spin2, .spin3{
	background-color: #ffffff;
	clip-path: polygon(40% 0%, 60% 0%, 100% 100%, 0% 100%);
	width: 150px;
	height: 275px;
	
	position: absolute;
	top: 400px;
	left: 325px;

	animation: spinny 6s linear infinite;
	transform-origin: top;

}

.spin2 {
  animation-delay: -2s;
}
.spin3 {
  animation-delay: -4s;

}

@keyframes spinny {
	50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}